<!DOCTYPE html>
<html>
<head>
<style>tr:nth-child(even) {background-color:#f2f2f2}</style>
</head>
<body>

  <h3>EVENTS</h3>
  <table style="font-family:Verdana, Geneva, sans-serif; font-size:12px; width:100%" width="100%">
  {% for i in range(0, eventNbaGames.__len__()) %}
    {% if loop.first %}
      <tr>
        {% for key, value in eventNbaGames[i].items() %}
        <th style="padding:8px; text-align:left; background-color:#6f6; color:#39f" align="left" bgcolor="#66ff66">
          {{ key }}
        </th>
        {% endfor %}
      </tr>
    {% endif %}

    <tr>
      {% for key, value in eventNbaGames[i].items() %}
          <td style="padding:8px; text-align:left; border-bottom:1px solid #ddd" align="left">
            {{ value }}
          </td>
      {% endfor %}
    </tr>
  {% endfor %}
  </table>

  <h3>INVESTMENTS</h3>
  <table style="font-family:Verdana, Geneva, sans-serif; font-size:12px; width:100%" width="100%">
  {% for i in range(0, investmentStockPrices.__len__()) %}
    {% if loop.first %}
      <tr>
        {% for key, value in investmentStockPrices[i].items() %}
            <th style="padding:8px; text-align:left; background-color:#6f6; color:#39f" align="left" bgcolor="#66ff66">
              {{ key }}
            </th>
        {% endfor %}
      </tr>
    {% endif %}

    <tr>
      {% for key, value in investmentStockPrices[i].items() %}
          <td style="padding:8px; text-align:left; border-bottom:1px solid #ddd" align="left">
            {{ value }}
          </td>
      {% endfor %}
    </tr>
  {% endfor %}
  </table>

  <h3>WEATHER</h3>
  <table style="font-family:Verdana, Geneva, sans-serif; font-size:12px; width:100%" width="100%">
  {% for i in range(0, weatherForecastDays.__len__()) %}
    {% if loop.first %}
      <tr>
        {% for key, value in weatherForecastDays[i].items() %}
        <th style="padding:8px; text-align:left; background-color:#6f6; color:#39f" align="left" bgcolor="#66ff66">
          {{ key }}
        </th>
        {% endfor %}
      </tr>
    {% endif %}

    <tr>
      {% for key, value in weatherForecastDays[i].items() %}
          <td style="padding:8px; text-align:left; border-bottom:1px solid #ddd" align="left">
            {{ value }}
          </td>
      {% endfor %}
    </tr>
  {% endfor %}
  </table>


</body>
</html>
